.bursit-label {
  --label-height: var(--input-label-font-size);
  display: block;
  color: var(--input-label-color);
  font-size: var(--input-label-font-size);
  font-weight: var(--input-label-font-weight);
  margin-bottom: var(--space-2xs);
  background-color: var(--input-label-bg);
}

.bursit-label:has(+ textarea.bursit-input) {
  top: 1.25rem;
}

.bursit-form-field-floating-label {
  .bursit-label {
    position: absolute;
    margin-bottom: 0;
    top: 50%;
    left: var(--input-padding-x);
    transform: translateY(-50%);
    transform-origin: left center;
    transition: var(--input-label-transition);
    pointer-events: none;
  }
}


.bursit-form-field-floating-label:not(.bursit-form-field-type-select).bursit-focus,
.bursit-form-field-floating-label.bursit-form-field-has-value {
  .bursit-label {
    top: var(--space-xs);
    transform: translateY(0) scale(var(--input-label-scale));
  }
}


.bursit-form-field-floating-label:not(.bursit-form-field-type-select).bursit-focus {
  .bursit-label {
    color: var(--input-label-floating-color);
  }
}

.bursit-form-field-floating-label.bursit-form-field-has-value:not(.bursit-focus) {
  .bursit-label {
    color: var(--input-label-filled-color);
  }
}

.bursit-form-field-floating-label.bursit-form-field-error {
  .bursit-label {
    color: var(--input-helper-error-color);
  }
}
